<div class="main-wrapper">
      <header class=" topHeader">
        <div class="container-fluid">
          <div class="navbar-header">              
            <h2> <i class="fa fa-angle-right"></i> Escritorio</h2>              
          </div>
        </div>
      </header>
      <main class="container-fluid wrapper" role="main">
        <div class="row">
          <div class="col-md-6">
            <!-- panel quicktools -->
            <div class="panel panel-default ">
              <header class="panel-heading">
                <h5>QuickTools</h5>                                                              
              </header>    
              <section class="panel-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-4">
                      <a {{action 'goToTramites'}} class="new-media-btn">
                        <i class="fa fa-file-text-o"></i>
                        <p>Nuevo Trámite</p>
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a {{action 'goToCategories'}} class="new-media-btn">
                        <i class="fa fa-file-video-o"></i>
                        <p>Nueva Categoría</p>
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a {{action 'goToUsers'}} class="new-media-btn">
                        <i class="fa fa-users"></i>
                        <p>Nuevos Usuarios</p>
                      </a>
                    </div>                                        
                  </div>
                  
                </div>                  
              </section>
            </div>
              
          </div>
          <!-- div class="col-md-6">
            <! panel Mi actividad reciente>
            <div class="panel panel-default ">
              <header class="panel-heading">
                <h5>Mi actividad reciente</h5>                               
                <a class="pull-right" href="#">Todo el historial</a>
              </header>    
              <section class="panel-body">
                <div class="well well-sm container-fluid">
                  <a href="#">
                    <p><strong>Marco Mancera creó el borrador</strong></p>
                    <h5>"Iniciativa de la Ley Federal de Competencia Económica de la... "</h5>
                    <small>El día de ayer a las 17:00 hrs</small>
                  </a>                                   
                </div>
                <div class="well well-sm container-fluid">
                  <a href="#">
                    <p><strong>Marco Mancera creó el borrador</strong></p>
                    <h5>"Iniciativa de la Ley Federal de Competencia Económica de la... "</h5>
                    <small>El día de ayer a las 17:00 hrs</small>
                  </a>
                </div>
                <div class="well well-sm container-fluid">
                  <a href="#">
                    <p><strong>Marco Mancera creó el borrador</strong></p>
                    <h5>"Iniciativa de la Ley Federal de Competencia Económica de la... "</h5>
                    <small>El día de ayer a las 17:00 hrs</small>
                  </a>                                     
                </div>                                
              </section>
            </div>                        
          </div -->
        </div>
          
        <!-- div class="row">
          <div class="col-md-6">
            <! panel mensajes de gob.mx >
            <div class="panel panel-default ">
              <header class="panel-heading">
                <h5>Mensajes de Gob.MX</h5> 
                <span class="inbox">3</span>
                <a class="pull-right" href="#"> + Ver todos</a>
              </header>    
              <section class="panel-body">                                
                <div class="well container-fluid">
                  <div class="row row-xs-height">
                    <div class="col-xs-9 col-sm-11">
                      <p><strong>Creado el día 01 de Septiembre de 2014</strong></p>
                      <h5>Iniciativa de la Ley Federal de Competencia Económica.</h5>
                    </div>                                        
                    <a class="red-circle-btn" href="#"></a>                                        
                  </div>                                                                      
                </div>
                <div class="well container-fluid">
                  <div class="row row-xs-height">
                    <div class="col-xs-9 col-sm-11">
                      <p><strong>Creado el día 01 de Septiembre de 2014</strong></p>
                      <h5>Iniciativa de la Ley Federal de Competencia Económica.</h5>
                    </div>
                    <a class="red-circle-btn" href="#"></a>
                  </div>
                </div>
                <div class="well container-fluid">
                  <div class="row row-xs-height">
                    <div class="col-xs-9 col-sm-11">
                      <p><strong>Creado el día 01 de Septiembre de 2014</strong></p>
                      <h5>Iniciativa de la Ley Federal de Competencia Económica.</h5>
                    </div>
                    <a class="red-circle-btn" href="#"></a>
                  </div>  
                </div>   
                  
                  
              </section>
            </div> 
          </div>
          <div class="col-md-6">
            <! panel Mis borradores >
            <div class="panel panel-default ">
              <header class="panel-heading">
                 <h5>Mis borradores</h5> 
                 <a class="pull-right" href="#"> + Ver más</a>                               
              </header>    
              <section class="panel-body">
                <div class="well well-sm container-fluid">
                    <div class="row row-xs-height">
                        <div class="col-xs-9 col-sm-11">
                            <p><strong>Creado el día 01 de Septiembre de 2014</strong></p>
                            <h5>Decreto por el que se reforma el Artículo de la constitución Política de los Estados Unidos Mexicanos.</h5>
                        </div>                                        
                        <div class="col-xs-3 col-sm-1 col-middle">
                            <a href="#"><i class="fa fa-angle-right pull-right indicator"></i></a>
                        </div>                                        
                    </div>                                                                      
                </div>
                <div class="well well-sm container-fluid">
                    <div class="row row-xs-height">
                        <div class="col-xs-9 col-sm-11">
                            <p><strong>Creado el día 01 de Septiembre de 2014</strong></p>
                            <h5>Decreto por el que se reforma el Artículo de la constitución Política de los Estados Unidos Mexicanos.</h5>
                        </div>                                        
                        <div class="col-xs-3 col-sm-1 col-middle">
                            <a href="#"><i class="fa fa-angle-right pull-right indicator"></i></a>
                        </div>                                        
                    </div>                                                                      
                </div>
                <div class="well well-sm container-fluid">
                    <div class="row row-xs-height">
                        <div class="col-xs-9 col-sm-11">
                            <p><strong>Creado el día 01 de Septiembre de 2014</strong></p>
                            <h5>Decreto por el que se reforma el Artículo de la constitución Política de los Estados Unidos Mexicanos.</h5>
                        </div>                                        
                        <div class="col-xs-3 col-sm-1 col-middle">
                            <a href="#"><i class="fa fa-angle-right pull-right indicator"></i></a>
                        </div>                                        
                    </div>                                                                      
                </div>
              </section>
            </div>
          </div>
        </div -->
      </main>
    </div>