<main class="login-wrapper recovery" role="main">
    <section class="login-sec">
      <div class="login-container-recovery">
        <form action="" role="form" class="form-horizontal">
          <img src="assets/images/gobmx-logo.png" alt="gob.mx">
          <div class="login-box-recovery">
            <h3>Solicita una reposición de contraseña</h3>
            <p style="padding-left:100px;padding-right:100px;">Por protocolos de seguridad es necesario que envíe un correo electrónico directamente a <a style="cursor:pointer;" href="mailto:desarrollo@ugd.gob.mx">desarrollo@ugd.gob.mx</a> desde el correo electrónico registrado con anterioridad, de esta forma el equipo de soporte se pondra en contacto con usted para proporcionar un nuevo acceso.</p>
          </div>
          {{#link-to 'login' tagName="button" class="btn btn-lg btn-simple"}}Regresar{{/link-to}}
        </form>
      </div>

    </section>
  </main>
